#.gradle
/.gradle
/fabric/.gradle
/forge/.gradle
/common/.gradle
/buildSrc/.gradle

#run
/forge/run
/fabric/run
/common/run
/neoforge/run

#build
/common/build
/forge/build
/fabric/build
/neoforge/build
/buildSrc/build

*.lock
/.idea
