/.gradle/loom-cache
/buildSrc
/fabric/run
/fabric/.gradle
/forge/.gradle
/common/.gradle
/forge/run
/common/run
/neoforge/run
/common/build
/forge/build
/fabric/build
/neoforge/build
*.lock
/.idea
/.gradle