public net.minecraft.world.entity.Mob persistenceRequired # persistenceRequired
#Note the SRG name (f_21353_) instead of the mapped name (persistenceRequired), since Forge uses SRG names in ATs.
public net.minecraft.world.entity.Mob f_21353_ # persistenceRequired